@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #0a0a0a;
}
.dark {
  --background: #0b0b0f;
  --text: #eaeaea;
}
body { background-color: var(--background); color: var(--text); }